node_modules/
dist/*
app/bin/*
docs/*
coverage/*
.nyc_output/*
!app/bin/.gitkeep
**/.DS_Store
.tmp/*

package-lock.json
config.json

# developer specific symlink to [project-path/]test/testdata 

*.log
test/*
