node_modules/
dist/*
app/bin/*
docs/*
.nyc_output/*
!app/bin/.gitkeep
**/.DS_Store
test/*
!test/.gitkeep

package-lock.json
config.json

# developer specific symlink to [project-path/]test/testdata 

*.log
