node_modules/
.nyc_output/*

dist/**/*
!dist/web/
!dist/web/.gitkeep
!dist/electron
!dist/electron/.gitkeep

app/bin/*

docs/*

coverage/*

!app/bin/.gitkeep
**/.DS_Store
.tmp/*

# developer specific symlink to [project-path/]test/testdata 

*.log
test/*
